<!-- MOOD MAP -->
<div id="" class="mood-data">
  <div class="emoji-list">
    <div class="emoji-list-item">
      <div class="emoji emoji-1-small"></div>
    </div>

    <div class="emoji-list-item">
      <div class="emoji emoji-2-small"></div>
    </div>

    <div class="emoji-list-item">
      <div class="emoji emoji-3-small"></div>
    </div>

    <div class="emoji-list-item">
      <div class="emoji emoji-4-small"></div>
    </div>

    <div class="emoji-list-item">
      <div class="emoji emoji-5-small"></div>
    </div>
  </div>
  <div class="mood-map">
    <canvas class="canvas-mood-map" id="mood-map"></canvas>
  </div>
</div>
