           
<!--COMMENT--> 
<div class="comment">       
	<div class="comment-user-pic"></div>
	<div class="comment-info">
		<p class="comment-text">
			<span class="comment-user-name">Justin Bieber</span>
			Bunch of text. Bunch of text. Bunch of text. Bunch of text. Bunch of text.  Bunch of text. Bunch of text. Bunc Bunch of text. Bunch of text. Bunc. Bunch of text. Bunch of text. Bunch of text. Bunch of text. Bunch of text. 
			<span class="comment-time"><br>18 days ago</span>
		</p>
		
	</div>
</div>
<!--COMMENT END-->            

   
<!--WRITE COMMENT--> 

<div class="comment-new">
<div class="write-comment-drop-shad"></div>
   <p>
   <textarea name="comment-new-text" class="comment-new-text" required  placeholder="Write a comment now..."></textarea>
   </p>
</div>
<!--WRITE COMMENT END--> 

