<div id="page" data-role="page">
        <div id="wrap">
            <header id="page-header">
                <div class="container">
                    <a href="/">
                    <img class="logo" ng-src="images/logo.png" alt="{{ Lang.get('master.logoalt') }}" />
                    </a>
                    <div ng-include=""></div>
                </div>
            </header>
            <div class="wrapper">
                <div class="container">
                    <div class="page-content">
                        <div class="banner">
                        <img src="images/home_page_banner_opt.jpg" alt="banner" />
                        <div class="container-fluid">
                        <div class="row intro">
                            <div class="col-md-4"></div>
                            <div class="front-page-intro col-md-4">
                                <span class="intro-frame intro-top">
                                    {{ Lang.get('master.homepageintrotop') }}
                                </span>
                                <span class="intro-frame intro-bottom">
                                    <i>
                                        {{ Lang.get('master.homepageintrobottom') }}
                                    </i>
                                </span>
                            </div>
                        </div>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    </div>
                </div>
            </div>
        </div>
        </div>
