
<div class="how-to-play-temp how-to-play-temp-outside">

	<div class="logo-large-half"></div>
	
	<br><br>
	<h4>HOW TO PLAY</h4>
	<br><br>
	<h4>INTRO</h4>
	<p>Welcome to On A Roll 21&trade;, a social network game that’s designed to boost your wellbeing, happiness and performance. Connect with other people as you create some fun, healthy habits that actually stick. How? Simply by completing 21 secret missions over 21 days – the time it often takes to create sustained change. Roll the dice each day, decide on a mission, carry it out, post the evidence on your team wall and share with your team members. On A Roll 21 breaks your routine, gets you out meeting people and brings you one day closer to being a healthier, more alert and alive version of you!
	</p>
	<br><br>
	
	<h4>STEP 1: JOURNAL</h4>
	<p>Once you’ve signed up and logged in, you’ll see your Journal. The circular progress bar represents how may days into the program you are. The mood map shows how happy you’ve been each day. Start plotting your mood map by answering the daily mood check at the top. There’s also a private posts area that stores all the posts you publish as private.
	</p>
	<br><br>
	
	<h4>STEP 2: ACCOUNT SETTINGS</h4>
	<p>Begin by selecting the Account Settings in the side menu to start editing your profile. How do you want to appear to others in your team? Upload a profile picture. 
	</p>
	<br><br>
	
	<h4>STEP 3: TEAM WALL</h4>
	<p>You’re almost ready to roll. First you might want to check out how others have been rolling by scrolling through the team wall. Simply select the Wall icon in the bottom menu. The wall is where all your team posts will appear. If you’re the first to post, don’t be afraid to break the ice and make others feel welcome! Encourage your team mates by liking a post or commenting.
	</p>
	<br><br>
	
	<h4>STEP 4: ROLL A MISSION</h4>
	<p>You’re now ready to roll your first mission. Select the Play icon in the bottom menu to bring up the dice. Select the dice to generate a random number. Select again to read your mission for the day. If you are unable to complete the mission today, try rolling again using the back arrow in the bottom menu. Once you’ve decided on your mission, select the Accept button.
	</p>
	<br><br>
	
	<h4>STEP 5: ON YOUR MISSION</h4>
	<p>It’s time to go offline and carry out your mission. Be creative, be devious and be totally randomly generous! You don’t have to stick literally to the task – feel free to interpret any way you wish. Be sure to plan ahead. We all get busy during the day so it’s a good idea to set an alert in your calendar or phone. 
	</p>
	<br><br>
	
	<h4>STEP 6: POSTS</h4>
	<p>Once you’ve carried out your mission and captured the evidence, you’re ready to post. Select New Post to start entering. Select the media icon if you wish to upload a photo, video or sound clip as part of your completed mission. You’ll be given some options for whether to go public with your post on the team wall, or whether you just want to keep the post in your private posts area, or both. When you’re ready select Post.
	</p>
	<br><br>
	
	<h4>STEP 7: PRIVATE MESSAGING</h4>
	<p>There’s a few other features you may wish to check out. Want to connect with a roller privately? You can do this in the messaging section. Select the message icon in the bottom menu. If you’ve been away for a while, you can catch up on all the action in your Notifications section, which you’ll find in the side menu. 
	</p>
	<br>
	<br>
	<p><button class='button button-login' onclick="window.history.back();">RETURN TO PREVIOUS PAGE</button></p>
	
	<div class='info-inline' ng-click="navigateTo('about')"></div>
</div>


