<div class='logo-large logo-large-info'></div>
<div class="info-text">
	On A Roll 21&trade; is a digital behaviour change program that helps promote happiness, wellbeing and productivity in 21 days.
	<br><br>
	"Waiting to be happy limits our brain's potential for success, whereas if we can help cultivate a positive brain it makes us more motivated, efficient, resilient, creative and productive, all of which drive improved health outcomes and performance." 
	<br><br>
	<div class="author-ref">Lisa Mcleod, Clinical Psychologist<br>
	and On A Roll 21&trade; program inventor</div>
	
	<div class='info-arrow'></div>
</div>
