<!--<div id="sp-nav">-->
    <!--<slide-menu></slide-menu>-->
<!--</div>-->
<!--<div id="sp-page">-->
<!--<page-header></page-header>-->
<!--&lt;!&ndash; MESSAGES USER PAGE &ndash;&gt;-->

<!--<div id="messages">-->
		<!---->
   <!---->
        <!--<div  class="messages under-header-shadow  content-body-without-btns scrollable-wrapper">&lt;!&ndash; users &ndash;&gt;-->
            <!---->
            <!--<div class="group-list-item med-blue ng-scope" ng-repeat="user in users" ng-if="user[0].id != currentUser.id"  ng-click="messageView({{user[0].id}}, '{{user[0].firstname}} {{user[0].lastname}}')" >-->
            <!--<div class="group-pic">-->
                <!--<img ng-src="{{user[0].picture}}" height="100%" src="{{user[0].picture}}">-->
            <!--</div>-->
            <!--<div class="team-name ng-binding"><b>{{user[0].firstname}} {{user[0].lastname}}</b></div>-->
            <!---->
  			<!--</div>-->
  			<!---->
  			<!---->
       	<!--</div>&lt;!&ndash; users end &ndash;&gt;-->

       	<!---->

  <!---->

<!--</div>&lt;!&ndash; MESSAGES USER PAGE END &ndash;&gt;	-->
<!--<page-footer></page-footer>-->
<!--</div>-->

<div class="container">
    <select-users users="groupUsers"></select-users>
</div>

