<div class="container">
    <div class="card-panel">
        <h4>You've rolled all your missions!</h4><br>

        <p>Please feel free to leave any feedback and comments of your experience,
            any great ideas, register interest for new upcoming Mission Goals, or would like further information about getting involved with On A Roll 21&trade;
            please use the <a class="theme-text" ng-click="navigateTo('supportTicket')">Support form</a>.
            <br><br> We'd love to hear from you!
    </div>
</div>
<!--<div id="sp-page">-->
<!--<page-header></page-header>-->
<!-- MISSION COMPLETED PAGE -->

<!--<div  class="content-body-without-btns under-header-shadow scroll">-->

    <!--<div class="general-text-container"> -->
    <!--<h4><b>You've rolled all your missions!</h4>       -->
       <!--<br>-->
       <!--<br>-->
    
    
    
    <!--h4><b>Congratulations you've completed all your missions!</b>
    <br>
    <br>
    We hope you've had an enjoyable experience<br> playing On A Roll 21&trade;</h4>
 
    <h4>It's been great to have you on the Team!</h4>
    
    <p>Please feel free to leave any feedback and comments of your experience, 
    <br>any great ideas, register interest for new upcoming Mission Goals, or would like further information about getting involved with <br>On A Roll 21&trade;
    <br>please use the <a href="" ng-click="navigateTo('supportTicket')">Support form</a>.
    <br>We'd love to hear from you!
    </p>
    <br>
    <br--> 
    <!--</div>-->
	<!---->
<!--</div>-->

<!-- MISSION COMPLETED PAGE END -->

<!--<page-footer></page-footer>-->
<!--</div>-->