<html>
<head>
<title>On A Roll 21 Registration</title>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">

</head>
<body bgcolor="#FFFFFF">

<table width="100%" border="0" cellspacing="0" cellpadding="0" align="center" bgcolor="#f3f6f8">
	<tbody><tr>
		<td width="100%" style="padding:20px 20px 40px 20px;background-color:#f3f6f8" bgcolor="#f3f6f8">
			<table width="700" border="0" cellspacing="0" cellpadding="0" align="center" style="margin:0 auto">
				<tbody><tr>
					<td>
						<div style="margin:0px 0px 12px 15px"><img src="../images/oar-logo-large.png" width="150px" alt="On A Roll 21" border="0"></div>
					</td>
					<td align="right" style="padding:7px 19px">
						<div style="font-family:Verdana,sans-serif;color:#666666;font-size:10px;line-height:1em">
						<a href="" style="color:#666666;font-family:Verdana,sans-serif;font-size:10px;white-space:nowrap" target="_blank">Resources</a>&nbsp; &nbsp; | &nbsp; &nbsp; 
						<a href="" style="color:#666666;font-family:Verdana,sans-serif;font-size:10px;white-space:nowrap" target="_blank">Support</a>
					</td>
				</tr>
			</tbody></table>
			
			<table width="700" border="0" cellspacing="0" cellpadding="0" align="center" style="margin:0 auto">
				<tbody><tr>
					<td width="700">
						<table width="700" border="0" cellspacing="0" cellpadding="0" bgcolor="#ffffff">
							<tbody><tr>
								<td width="700" height="4" valign="bottom" colspan="3"><img src="../images/top.gif" alt="" width="700" height="4" border="0" style="display:block;margin:0"</td>
							</tr>
							<tr>
								<td width="1" height="30" bgcolor="#dadada" style="background-color:#dadada"></td>
								<td width="698"></td>
								<td width="1" bgcolor="#dadada" style="background-color:#dadada"></td>
							</tr>
							<tr>
								<td width="1" height="55" bgcolor="#dadada" style="background-color:#dadada"></td>
								<td width="698" align="left">
									<table>
										<tbody><tr>
											<td valign="top"><div style="margin:5px 44px 0px 44px;font-family:Verdana,sans-serif;color:#444444;font-size:30px;line-height:1.3em">Another Day Rolls By!..<br></div>
											</td>
										</tr>
									</tbody></table>
								</td>
								<td width="1" bgcolor="#dadada" style="background-color:#dadada"></td>
							</tr>
							<tr>
								<td width="1" height="30" bgcolor="#dadada" style="background-color:#dadada"></td>
								<td width="698"></td>
								<td width="1" bgcolor="#dadada" style="background-color:#dadada"></td>
							</tr>
							
							<tr>
								<td width="1" height="34" bgcolor="#dadada" style="background-color:#dadada"></td>
								<td width="698">
								
								<img src="../images/header-shadow.jpg" width="698" height="34" alt="headershadow ">
								</td>
								<td width="1" bgcolor="#dadada" style="background-color:#dadada"></td>
							</tr>
							<tr>
								<td width="1" height="96" bgcolor="#dadada" style="background-color:#dadada"></td>
								<td width="698" align="center">
									<table width="698" border="0" cellspacing="0" cellpadding="0">
										<tbody><tr>
											<td width="44"></td>
											<td width="610" align="left">
									
												
												<div style="margin:10px 15px 0px 2px;font-family:Verdana,sans-serif;color:#444444;font-size:14px;line-height:1.5em">
													Hi Anthony,<br><br>
													
													Just a friendly reminder that your team mates need you! If you haven't already, please log in to On A Roll 21&trade; and let them know how you roll.<br/><br>
													
													On [2015-02-26 10:57:00] Sam has joined your team <br>
													On [2015-02-25 17:52:18] John has joined your team <br>
													On [2015-02-24 13:14:53] Lisa has joined your team <br>
													On [2015-02-24 13:00:05] Matty has joined your team <br><br>
													
													<a target="_blank" href="http://app.onaroll21.com"><img style="border-style: none; border: 0;" src="http://app.onaroll21.com/images/btn-login-edm.png" alt="LOGIN"></a><br><br><br>
													
													Master Roller<br>
													On A Roll 21&trade;<br>
													
												</div>
											</td>
											<td width="44"></td>
										</tr>
									</tbody></table>
								</td>
								<td width="1" bgcolor="#dadada" style="background-color:#dadada"></td>
							</tr>
							<tr>
								<td width="1" height="40" bgcolor="#dadada" style="background-color:#dadada"></td>
								<td width="698"></td>
								<td width="1" bgcolor="#dadada" style="background-color:#dadada"></td>
							</tr>		
							<tr>
								<td width="700" height="7" valign="top" colspan="3"><img src="../images/bottom.gif" alt="" width="700" height="7" border="0" style="display:block;margin:0"</td>
							</tr>
						</tbody></table>
					</td>
				</tr>
			</tbody></table>
			
			
			<table width="700" border="0" cellspacing="0" cellpadding="0" align="center" style="margin:0 auto">
				<tbody><tr>
					<td style="padding:20px 20px 10px 20px">
							
						<div style="font-family:Verdana,sans-serif;font-size:10px;line-height:1.4em;color:#888888">
							<div style="font-family:Verdana,sans-serif;font-size:9px;line-height:12px;color:#858585"><p><strong>Do not reply to this email.</strong> This email is intended solely for the use of the  addressee and contains information that is confidential or privileged.</p>
									  
							This email belongs to On A Roll 21 is governed by the Terms &amp; Conditions agreed to on registration, including disclaimers and limitations of liability.<br/><br/>
							  
							  <strong>Please consider the environment before printing this email.</strong></div>
						</div>
					</td>
				</tr>
				<tr></tr>
			</tbody></table>
		</td>
	</tr>
</tbody>
</table>


</body>
</html>