<div class="container survey-intro card-panel no-padding" ng-show="template">
    <div  class="pre-survey-intro">
        <div class="pre-survey-intro-container center-align">
            <h4>Congratulations on completing all your missions!</h4>

            <h4>You have one final task to complete your goal.</h4>

            <p style="padding: 10px;">Please complete the following brief positive psychology survey which will help us measure group wellbeing throughout the 21-day program, and select "SUBMIT" at the end to complete the survey.
                <br><br>These are the same questions at the start of the program, but your choices may have changed. No individuals will be identified in either survey.</p>
        </div>
    </div>
    <p class="center-align">
        <a ng-click="postsurveySwitch()" class="btn theme">OK - CONTINUE</a>
    </p><br>
</div>

<!--<div class="container card-panel">-->
    <!--<div  class="pre-survey-intro center-align">-->
        <!--<div class="pre-survey-intro-container">-->
            <!--<h4>Congratulations on completing all your missions!</h4>-->

            <!--<h4>You have one final task to complete your goal.</h4>-->

            <!--<p>Please complete the following brief positive psychology survey which will help us measure group wellbeing throughout the 21-day program, and select "SUBMIT" at the end to complete the survey. These are the same questions at the start of the program, but your choices may have changed. No individuals will be identified in either survey.</p>-->

        <!--</div>-->
         <!--<div class="pre-survey-intro-container" ng-include="template">-->
         <!--</div>-->
    <!--</div><br>-->
    <!--<p class="center-align">-->
        <!--<a ng-click="postsurveySwitch()" class="btn theme">OK - CONTINUE</a>-->
    <!--</p><br>-->
<!--</div>-->
