<html>
<head>
<title>On A Roll 21 Registration</title>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">

</head>
<body bgcolor="#FFFFFF">
			
	
			
		
	
		
		
		
		
		
	<table width="100%" border="0" cellspacing="0" cellpadding="0" align="center" bgcolor="#f3f6f8">
		<tbody>
		<tr>
		<td>
		<table width="700" border="0" cellspacing="0" cellpadding="0" align="center" style="margin:0 auto" bgcolor="#f3f6f8">
		<tbody>	
		<tr>
			
			<td align="right" style="padding:7px 19px">
				<div style="font-family:Verdana,sans-serif;color:#666666;font-size:10px;line-height:1em">
				<a href="" style="color:#666666;font-family:Verdana,sans-serif;font-size:10px;white-space:nowrap" target="_blank">Login</a>&nbsp; &nbsp; | &nbsp; &nbsp; 
				<a href="" style="color:#666666;font-family:Verdana,sans-serif;font-size:10px;white-space:nowrap" target="_blank">How To Play</a>&nbsp; &nbsp; | &nbsp; &nbsp; 
				<a href="" style="color:#666666;font-family:Verdana,sans-serif;font-size:10px;white-space:nowrap" target="_blank">Support</a>
			</td>
		</tr>	
		</tbody>	
		</table>
		</td>
		</tr>
		<tr>
		<td align="center" style="padding:2px 20px 0px 20px;"><img src="../images/registration-email-header.jpg" width="699" alt=""></td></tr>
		<tr>
		
		
			<td width="100%" style="padding:0px 20px 40px 20px;background-color:#f3f6f8" bgcolor="#f3f6f8">
				
				
				<table width="700" border="0" cellspacing="0" cellpadding="0" align="center" style="margin:0 auto">
					<tbody>
					<tr>
						<td width="700">
							<table width="700" border="0" cellspacing="0" cellpadding="0" bgcolor="#ffffff">
								<tbody>
								<tr>
									<td width="1" height="30" bgcolor="#dadada" style="background-color:#dadada"></td>
									<td width="698"></td>
									<td width="1" bgcolor="#dadada" style="background-color:#dadada"></td>
								</tr>
								<tr>
									<td width="1" height="55" bgcolor="#dadada" style="background-color:#dadada"></td>
									<td width="698" align="left">
										<table>
											<tbody><tr>
												<td valign="top"><div style="margin:5px 0px 0px 44px;font-family:Verdana,sans-serif;color:#444444;font-size:30px;line-height:1.3em">Your New Roller Account!<br></div>
												</td>
											</tr>
										</tbody></table>
									</td>
									<td width="1" bgcolor="#dadada" style="background-color:#dadada"></td>
								</tr>
								<tr>
									<td width="1" height="30" bgcolor="#dadada" style="background-color:#dadada"></td>
									<td width="698"></td>
									<td width="1" bgcolor="#dadada" style="background-color:#dadada"></td>
								</tr>
								
								<tr>
									<td width="1" height="34" bgcolor="#dadada" style="background-color:#dadada"></td>
									<td width="698">
									
									<img src="../images/header-shadow.jpg" width="698" height="34" alt="headershadow ">
									</td>
									<td width="1" bgcolor="#dadada" style="background-color:#dadada"></td>
								</tr>
								<tr>
									<td width="1" height="96" bgcolor="#dadada" style="background-color:#dadada"></td>
									<td width="698" align="center">
										<table width="698" border="0" cellspacing="0" cellpadding="0">
											<tbody><tr>
												<td width="44"></td>
												<td width="610" align="left">
										
													
													<div style="margin:10px 15px 0px 2px;font-family:Verdana,sans-serif;color:#444444;font-size:14px;line-height:1.5em">
														<p>Hi '.$contact_name.'<br><br>
														
														Thank you for signing up for On A Roll 21&trade;. You may now log in and start letting your team mates know how you roll!<br><br>
														
														username:<br>
														password:<br><br>
														
														<a target="_blank" href="http://app.onaroll21.com"><img style="border-style: none; border: 0;" src="http://app.onaroll21.com/images/btn-login-edm.png" alt="LOGIN"></a><br><br>
														
														
														To play On A Roll 21&trade; you will need to upload photos from your device. For convenience, we highly recommend saving the website to your phone as a bookmarked site, so you can open it up like an app. <br><br>
														
														If you are unsure how to do this please follow these instructions:<br><br>
														
														<a href="http://blog.answerqi.com/google-chrome-for-iphone-ipad-how-to-add-bookmarks/" target="_blank">For iphone or ipad</a><br>
														<a href="http://smallbusiness.chron.com/create-bookmark-android-phone-30412.html" target="_blank">For android</a><br>
														For a quick rundown on how to play, visit On A Roll 21&trade; <a href="http://app.onaroll21.com/#/howtoOutside" target="_blank">How To Play</a>.<br><br>
														
														Happy rolling!<br><br>
														
														Master Roller<br>
														On A Roll 21&trade;</p>
														
													</div>
												</td>
												<td width="44"></td>
											</tr>
										</tbody></table>
									</td>
									<td width="1" bgcolor="#dadada" style="background-color:#dadada"></td>
								</tr>
								<tr>
									<td width="1" height="40" bgcolor="#dadada" style="background-color:#dadada"></td>
									<td width="698"></td>
									<td width="1" bgcolor="#dadada" style="background-color:#dadada"></td>
								</tr>		
								<tr>
									<td width="700" height="7" valign="top" colspan="3"><img src="../images/bottom.gif" alt="" width="700" height="7" border="0" style="display:block;margin:0"</td>
								</tr>
							</tbody></table>
						</td>
					</tr>
				</tbody></table>
				
				
				<table width="700" border="0" cellspacing="0" cellpadding="0" align="center" style="margin:0 auto">
					<tbody><tr>
						<td style="padding:20px 20px 10px 20px">
								
							<div style="font-family:Verdana,sans-serif;font-size:10px;line-height:1.4em;color:#888888">
								<div style="font-family:Verdana,sans-serif;font-size:9px;line-height:12px;color:#858585"><p><strong>Do not reply to this email.</strong> This email is intended solely for the use of the  addressee and contains information that is confidential or privileged.</p>
										  
								This email belongs to On A Roll 21&trade; is governed by the Terms &amp; Conditions agreed on registration, including disclaimers and limitations of liability.<br/><br/>
								  
								  <strong>Please consider the environment before printing this email.</strong></div>
							</div>
						</td>
					</tr>
					<tr></tr>
				</tbody></table>
			</td>
		</tr>
	</tbody>
	</table>
	</body>
</html>