<!-- FAQ PAGE -->
<div id="faq-support" class="container scrollable-wrapper" ng-controller="SupportCtrl">
	<ul class="collapsible" data-collapsible="expandable">
		<li>
			<div class="collapsible-header theme-text active">How do I roll?</div>
			<div class="collapsible-body black-text">
				<p>To play On A Roll 21™ is super easy. We've set out some main points for you to follow here: <a href="" ng-click="navigateTo('howto')">How to play</a>. The rest is up to you! But if you have any issues or need guidance please create a support ticket using the button at the bottom of this page.</p>
			</div>
		</li>
		<li>
			<div class="collapsible-header theme-text active">My dice is stuck. What to do next?</div>
			<div class="collapsible-body black-text">
				<p>The dice feature in On A Roll 21™ operates using a series of javascript and html code interactions that may be&nbsp;sensitive to rapid button clicking or tapping, or internet signal fluctuations.&nbsp;If this happens, simply log out or exit the browser window and log back in.</p>
			</div>
		</li>
		<li>
			<div class="collapsible-header theme-text active">Can On A Roll 21™ run on mobile device?</div>
			<div class="collapsible-body black-text">
				<p>We are currently building an app version of On A Roll 21™, however you can save or bookmark this website on your preferred device&nbsp;like an app so you can conveniently use on the run or after taking a photo. In iPhone, visit <a href="http://onaroll21.com/app" data-original-title="" title="">onaroll21.com/app</a> using your Safari browser, select the browser icon in the lower-centre of window (this will bring up your sharing options), and select&nbsp;Add to homescreen. Chrome and Android browsers do not currently support home screen launch, but do support bookmarking. Follow the steps outlined in this <a href="https://support.google.com/chrome/answer/95739?hl=en">link</a>.</p>
			</div>
		</li>
		<li>
			<div class="collapsible-header theme-text active">Can On A Roll 21™ run on Blackberry?</div>
			<div class="collapsible-body black-text">
				<p>On A Roll 21™ is still being tested on Blackberry operating systems and some features may not work. We strongly recommend using chrome and an alternative smartphone device or desktop.</p>
			</div>
		</li>
		<li>
			<div class="collapsible-header theme-text active">Can I post video files?</div>
			<div class="collapsible-body black-text">
				<p>Not at the moment. We've temporarily removed this while working on other functionality of the app.</p>
			</div>
		</li>
		<li>
			<div class="collapsible-header theme-text active">Can I post more than one image?</div>
			<div class="collapsible-body black-text">
				<p>Only one attachment per post is supported for the moment.</p>
			</div>
		</li>
		<li>
			<div class="collapsible-header theme-text active">Can I invite a friend to participate?</div>
			<div class="collapsible-body black-text">
				<p>Currently On A Roll 21™ is only available under licence in consultation with the On A Roll 21™ team.</p>
			</div>
		</li>
		<li>
			<div class="collapsible-header theme-text active">If I'm going away during the 21 days?</div>
			<div class="collapsible-body black-text">
				<p>As reporting data is anonymously tracked in team participation over the 21 days, we ask that you notify the appropriate person at your organisation.</p>
			</div>
		</li>
		<li>
			<div class="collapsible-header theme-text active">Can I share a post on Facebook?</div>
			<div class="collapsible-body black-text">
				<p>In the interests of privacy, social sharing has not been activated for this edition of On A Roll 21™.</p>
			</div>
		</li>
		<li>
			<div class="collapsible-header theme-text active">What happens if I skip a day?</div>
			<div class="collapsible-body black-text">
				<p>Skipping a day and then catching up later is entirely at your discretion.&nbsp;You can accomplish multiple missions in a day if you need to. You will not be penalised nor will your experience be compromised in any way if you do not post each day. However, to get the most out of the behaviour change benefits of the product, we recommend participating as routinely and consistently throughout as you can. Setting a calendar reminder either first thing in the morning or at the end of your work day (when you're ready to post) is helpful.</p>
			</div>
		</li>
		<li>
			<div class="collapsible-header theme-text active">How can I continue rolling after 21 days?</div>
			<div class="collapsible-body black-text">
				<p>Currently On A Roll 21™ is only available under licence in consultation with the On A Roll 21™ team. If you wish to extend your participation period, please contact us via email on support@onaroll21.com</p>
			</div>
		</li>
		<li>
			<div class="collapsible-header theme-text active">I don't know how to do my mission?</div>
			<div class="collapsible-body black-text">
				<p>Be as creative as you like when interpreting the On A Roll 21&trade; missions. There are no correct ways of responding. Don't feel restricted by the need to post a photo or respond literally to the mission instruction in text form. &nbsp;</p>
			</div>
		</li>
		<li>
			<div class="collapsible-header theme-text active">What happens to the survey results?</div>
			<div class="collapsible-body black-text">
				<p>The survey responses&nbsp;at the beginning and end of the program, along with your mood map information, are anonymously aggregated and averaged to produce a group wellbeing result. This may be presented to a representative at your organisation and may be collated as part of wider research into On A Roll 21™ participation. In either case, no individual will be identified in the information gathered. For more on how we handle information, please visit our <a href="" ng-click="navigateTo('legal')">privacy policy</a>.</p>
			</div>
		</li>
	</ul>

	<p class="center-align">
		<a class="btn theme" ng-click="navigateTo('supportTicket')">CONTACT SUPPORT</a>
	</p><br>
</div><!-- END support-faq-content -->

